.background {
    -fx-background-color: #4c7060ff;
}

.normal_button {
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: #065c46aa;
    -fx-font-size: 30;
}

.normal_button:hover {
    -fx-background-color: #065c46dd;
}

.back_button {
    -fx-padding: 10 30 10 30;
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: #06445eaa;
    -fx-font-size: 30;
}

.back_button:hover {
    -fx-background-color: #06445edd;
}
