.game_root {
    -fx-background-color: black;
    -fx-background-image:url("../assets/image/fog.png");

    background-color: black;
    background-image:url("../assets/image/fog.png");
}

.city_banner {
    -fx-padding: 10 30 10 30;
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: #065c46ff;
    -fx-opacity: 0.7;
    -fx-font-size: 40;
}

.city_banner:hover {
    -fx-opacity: 0.85;
}