.next_turn {
    -fx-background-color: #2192c2ff;
    -fx-background-radius: 10 10 10 10;
}

.technology_panel {
    -fx-background-color: #2192c2ff;
    -fx-background-radius: 10 10 10 10;
}


.message_box_warning {
    -fx-padding: 10 30 10 30;
    -fx-border-width: 3;
    -fx-border-radius: 5 5 5 5;
    -fx-border-color: #7a0505cc;
    -fx-background-radius: 5 5 5 5  ;
    -fx-background-color: #d60606cc;
}

.message_box {
    -fx-background-color: transparent;
}

.message_box .viewport {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #5e5e5eff;
    -fx-background-radius: 5em;
}

