.ui_page_root {
    -fx-background-image: url("../assets/image/background/ui_background.png");
}

.general_button {
    -fx-padding: 10 40 10 40;
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: #06445eaa;
    -fx-font-size: 45;
}

.general_button:hover {
    -fx-background-color: #06445eff;
}

.line {
    -fx-fill: #2b0870;
}

.logout_button {
    -fx-padding: 10 30 10 30;
    -fx-border-radius: 40 40 40 40;
    -fx-background-radius: 40 40 40 40;
    -fx-background-color: #065c46aa;
    -fx-font-size: 40;
}

.logout_button:hover {
    -fx-background-color: #065c46cc;
}