.background{
    -fx-background-color: #4c7060ff;
}

.demographic_panel_vbox1{
    -fx-padding: 15;
}

.demographic_panel_vbox2{
    -fx-background-color: rgb(255, 255, 0, 0.1);
    -fx-padding: 30 5 30 5;
}

.demographicItem{
    -fx-background-color: #b49b31;
    -fx-background-radius: 20;
    -fx-pref-width: 540;
}

.demographic_name{
    -fx-fill: #0a04be;
    -fx-font-size: 18;
}

.capital_name{
    -fx-fill: #d02b2b;
    -fx-font-size: 17;
}

.back_button{
    -fx-padding: 10 30 10 30;
    -fx-border-radius: 30;
    -fx-background-radius: 40;
    -fx-background-color: #92b7a3;
    -fx-font-size: 25;
}