.game_root {
    -fx-background-color: black;
    -fx-background-image:url("../assets/image/fog.png");

    background-color: black;
    background-image:url("../assets/image/fog.png");
}

.normal_text {
    -fx-font-size: 20;
}

.city_banner {
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
}

.population {
    -fx-font-size: 20;
}

.growth_bar {
    -fx-accent: #3ec40e;
}

.growth_bar > .track {
      -fx-text-box-border: #248203;
      -fx-control-inner-background: #9ef77e;
}

.growth_bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 5;
}

.project_bar {
    -fx-accent: #1670de;
}

.project_bar > .track {
      -fx-text-box-border: #072e5e;
      -fx-control-inner-background: #a5c7f0;
}

.project_bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 5;
}


.city_name {
    -fx-background-color: #757575aa;
    -fx-font-size: 20;
}

.city_name:hover {
    -fx-background-color: #291414aa;
}

.production_bar {
    -fx-accent: #a1701b;
}

.production_bar > .track {
      -fx-text-box-border: #915d03;
      -fx-control-inner-background: #cca768;
}

.production_bar > .bar {
        -fx-background-insets: 1 1 2 1;
        -fx-padding: 5;
}

.hp_bar {
    -fx-accent: #d11b0a;
}

.hp_bar > .track {
      -fx-text-box-border: #8a1004;
      -fx-control-inner-background: #d65f54;
}

.hp_bar > .bar {
        -fx-background-insets: 1 1 2 1;
        -fx-padding: 5;
}


.working_citizen {
    -fx-fill: #0b993daa;
}

.working_citizen:hover {
    -fx-fill: #0b993dee;
}

.not_working_citizen {
    -fx-fill: #5c5c5caa;
}

.not_working_citizen:hover {
    -fx-fill: #5c5c5cee;
}

.to_buy_tile {
    -fx-fill: #c98422aa;
}

.to_buy_tile:hover {
    -fx-fill: #c98422ee;
}

.tile_cost {
    -fx-font-size: 24;
}

.tile_info{
    -fx-background-color: rgba(54, 54, 54, 0.9);
    -fx-background-radius: 20;
    -fx-pref-width: 215;
    -fx-pref-height: 160;
    -fx-padding: 10;
}

.resource_name{
    -fx-font-size: 19;
    -fx-fill: #ffffff;
}
.terrain_name{
    -fx-font-size: 19;
    -fx-fill: #78e0a9;
}
.output_text{
    -fx-font-size: 20;
    -fx-fill: #d2f2ff;
}