.node{
    -fx-background-radius: 10;
}

.technology_name{
    -fx-font-size: 17;
}

.available_node{
    -fx-background-color: #73d050;
}

.researched_node{
    -fx-background-color: #daa332;
}

.not_available_node{
    -fx-background-color: #9a9a9a;
}

.currently_researching{
    -fx-background-color: #ef8383;
    -fx-background-image: url("../assets/image/technology_background1.gif");
}
.current_technology_name{
    -fx-fill: white;
}

.back_button{
    -fx-padding: 10 30 10 30;
    -fx-border-radius: 30;
    -fx-background-radius: 40;
    -fx-background-color: #92b7a3;
    -fx-font-size: 25;
}
.back_button:hover{
    -fx-background-color: #3c5749;
}
