.background{
    -fx-background-color: #4c7060ff;
}

.technology_tree_button{
    -fx-padding: 10 30 10 30;
    -fx-border-radius: 30;
    -fx-background-radius: 40;
    -fx-background-color: #92b7a3;
    -fx-font-size: 25;
}

.technology_vbox1{
    -fx-padding: 15;
}

.technology_vbox2{
    -fx-background-color: rgb(255, 255, 0, 0.1);
    -fx-padding: 30 5 30 5;
}

.technology_item{
    -fx-background-radius: 20;
    -fx-pref-width: 344;
}

.normal_text{
    -fx-font-size: 15;

}

.available_node{
    -fx-background-color: #73d050;
}

.researched_node{
    -fx-background-color: #daa332;
}

.not_available_node{
    -fx-background-color: #9a9a9a;
}

.currently_researching{
    -fx-background-color: #ef8383;
    -fx-background-image: url("../assets/image/technology_background2.gif");
}
.current_technology_name{
    -fx-fill: white;
}


.technology_info{
    -fx-background-color: #d59a9a;
}
.back_button{
    -fx-padding: 10 30 10 30;
    -fx-border-radius: 30;
    -fx-background-radius: 40;
    -fx-background-color: #92b7a3;
    -fx-font-size: 25;
}